doctype
html(lang="ja")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title イメがね
    link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Poiret+One")
    link(rel='stylesheet', href="css/common.css")
    script(src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous")

  body
    header.header
      h1.header-logo
        i.fas.fa-search
        | imegane
      #bookmark-area.bookmark-area
        //- ピン機能

    main#main.main
      .search-area
        #search-box.search-box
        //- 検索エリア
      #loading-container.loading-container
        //- ローディング表示エリア
      #popup.popup
        //- ポップアップ
      #result-container.result-container.cf
      //- 結果エリア
      #magnify-box.magnify-box
      //- 画像拡大表示エリア

    section#search-site-list.search-site-list
      //- 掲載サイト一覧

    footer.footer
      p.copyright
        | &copy; 2018 imegane

    script(src="js/bundle.js")