$default_color: #393E41;
$sub_color: #00c76d;

html,
body {
  margin: 0;
  padding: 0;
  min-width: 1200px;
}

* {
  color: $default_color;
}

.cf {
  *zoom: 1;
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

input,
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

// header ---------------->

.header {
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  min-width: 1200px;
  height: 60px;
  background-color: #ffffff;
  border-bottom: solid 2px #c7c7c7;
  text-align: center;
}

.header-logo {
  margin: 0;
  font-family: 'Poiret One', cursive;
  font-size: 44px;
  line-height: 53px;
  i {
    font-size: 24px;
  }
}


// bookmark area --------------->

.bookmark-area {
  position: absolute;
  top: 5px;
  right: 0;
}

.bookmark-area_btn {
  position: relative;
  width: 50px;
  height: 50px;
  margin-right: 10px;
  background-color: #eaeaea;
  border-radius: 50%;
  cursor: pointer;
  &:hover {
    background-color: #d6d6d6;
  }
  i {
    font-size: 25px;
    line-height: 50px;
  }
}

.bookmark-cnt {
  position: absolute;
  top: -3px;
  left: -10px;
  width: 25px;
  height: 25px;
  background-color: $sub_color;
  border-radius: 50%;
  color: #ffffff;
  font-size: 12px;
  line-height: 25px;
  text-align: center;
}

.bookmark-list-container {
  position: absolute;
  top: 57px;
  right: -600px;
  transition: all 300ms 0s ease;
  &.open {
    right: 0;
    &::after {
      content: '';
      display: block;
      position: fixed;
      top: 62px;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0,0,0, 0.6);
    }
  }
  ul {
    overflow-y: scroll;
    position: relative;
    z-index: 100;
    width: 590px;
    min-height: 215px;
    height: 800px;
    background-color: #ffffff;
    margin: 0;
    padding: 15px;
    list-style: none;
    box-sizing: border-box;
  }
  li {
    position: relative;
    overflow: hidden;
    float: left;
    width: 270px;
    height: 180px;
    margin: 0 5px 5px 0;
    text-align: left;
    &:nth-child(even) {
      margin-right: 0;
    }
  }
  img {
    position: relative;
    left: 50%;
    width: auto;
    height: 100%;
    transform: translateX(-50%);
    vertical-align: top;
  }
}

.delete-bookmark-btn {
  opacity: 0;
  position: absolute;
  top: 5px;
  right: 5px;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  transition: all 300ms 0s ease;
  font-size: 13px;
  text-align: center;
  cursor: pointer;
  .bookmark-list-container li:hover & {
    opacity: 0.6;
  }
  .bookmark-list-container li &:hover {
    opacity: 1;
  }
  i {
    line-height: 30px;
  }
}


// main -------------------->

.main {
  margin-top: 62px;
}


// search area ------------->

.search-area {
  position: relative;
  height: 320px;
  background: url(../img/search_bg.jpg) no-repeat;
  background-size: cover;
  background-position: center 80%;
  &:after {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(45, 50, 58, 0.3);
  }
}

.search-box {
  position: absolute;
  z-index: 100;
  top: 50%;
  left: 0;
  right: 0;
  width: 650px;
  padding: 20px 20px;
  margin: auto;
  transform: translateY(-50%);
  // border-radius: 10px;
  // background-color: rgba(255, 255, 255, 0.1);
}

.search__keyword-box {
  position: relative;
  i {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    font-size: 25px;
    color: #e6e6e6;
  }
  input {
    width: 80%;
    margin: 0;
    padding-left: 40px;
    border: solid 2px #c7c7c7;
    border-radius: 10px 0 0 10px;
    box-sizing: border-box;
    font-size: 20px;
    line-height: 46px;
    vertical-align: top;
  }
}

.search__select-box {
  position: relative;
  display: inline-block;
  width: 20%;
  select {
    width: 100%;
    height: 52px;
    padding-left: 10px;
    background-color: #f1f1f1;
    border: solid 2px #c7c7c7;
    border-left: none;
    border-radius: 0 10px 10px 0;
    font-size: 16px;
    line-height: 46px;
    vertical-align: top;
    cursor: pointer;
  }
  &:after {
    content: '▼';
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    color: #c7c7c7;
    font-size: 13px;
  }
}


// search btn -------------->

.search-btn {
  display: block;
  width: 200px;
  margin: 30px auto 0;
  background-color: $sub_color;
  border-radius: 10px;
  color: #ffff;
  text-align: center;
  line-height: 52px;
  letter-spacing: 3px;
  cursor: pointer;
  &:hover {
    background-color: #00a75b;
  }
}


// result container ---------->

.result-container {
  width: 95%;
  max-width: 1500px;
  margin: 30px auto 0;
  .result-box {
    position: relative;
    float: left;
    width: calc((100% / 5) - 0.5%);
    margin-right: 0.5%;
    margin-bottom: 0.5%;
    &:last-child {
      margin-right: 0;
    }
  }
  .img-box {
    position: relative;
    overflow: hidden;
    height: 12.5vw;
    @media screen and (min-width: 1500px) {
      height: 210px;
    }
    @media screen and (max-width: 1200px) {
      height: 144px;
    }
    a {
      display: block;
      height: 100%;
      width: 100%;
    }
    img {
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      // min-width: 100%;
      max-height: 100%;
      margin: auto;
      transform: translateY(-50%);
    }
  }
}

.img-info-box {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 2px 10px;
  font-size: 12px;
  background-color: rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  p {
    margin: 0;
    color: rgba(255, 255, 255, 0.7);
  }
  .site-name {
    float: left;
  }
  .img-info {
    float: right;
    & i {
      color: rgba(255,255,255, 0.2);
      margin-right: 8px;
      &:last-child {
        margin-right: 0;
      }
    }
    &.active--user-registration .user-registration,
    &.active--credit .credit,
    &.active--not-free .not-free {
      color: rgba(255,255,255, 1);
    }
  }
}

.magnify-btn,
.bookmark-btn {
  opacity: 0;
  position: absolute;
  top: 5px;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  transition: all 300ms 0s ease;
  font-size: 13px;
  text-align: center;
  cursor: pointer;
  .result-box:hover & {
    opacity: 0.6;
  }
  .result-box &:hover {
    opacity: 1;
  }
  i {
    line-height: 30px;
  }
}
.bookmark-btn {
  right: 5px;
}
.magnify-btn {
  left: 5px;
}

.magnify-box {
  position: fixed;
  top: 62px;
  width: 100%;
  z-index: 100;
  & > div {
    display: block;
    position: relative;
    opacity: 1;
    height: calc(100vh - 62px);
    text-align: center;
    &::after {
      content: "";
      display: block;
      opacity: 0.8;
      width: 100%;
      height: 100%;
      background-color: #000000;
    }
    a {
      display: block;
      position: absolute;
      z-index: 1;
      top: 50%;
      left: 50%;
      transform: translateY(-50%) translateX(-50%);
      text-decoration: none;
    }
    .annotation {
      margin: 0;
      color: rgba(255, 255, 255, 0.5);
      font-size: 10px;
    }
  }
}

.magnify-box-close-btn {
  position: absolute;
  color: #ffffff;
  opacity: 0.5;
  z-index: 100;
  font-size: 30px;
  top: 50px;
  right: 50px;
  cursor: pointer;
}

.page-nation {
  float: left;
  display: block;
  width: 100%;
  margin: 0;
  padding: 20px 0;
  border-bottom: solid 1px #e6e6e6;
  list-style: none;
  font-size: 40px;
  text-align: center;
  li {
    display: inline-block;
    cursor: pointer;
    margin-right: 20px;
    &:hover i:not(.gray-out) {
      opacity: 0.8;
    }
    &.page-number {
      font-size: 20px;
      line-height: 60px;
      vertical-align: top;
    }
    &:last-child {
      margin-right: 0;
    }
  }
  i.gray-out {
    pointer-events: none;
    opacity: 0.3;
  }
}


// search site list -------------->

.search-site-list {
  width: 900px;
  margin: 80px auto 0;
  text-align: center;
}

.site-description {
  display: inline-block;
  margin: 0;
  // padding: 0 10px 8px;
  // border-bottom: solid thin rgba(57,62,65,0.1);
  font-size: 25px;
  font-weight: normal;
  letter-spacing: 1.5px;
}

.site-cnt {
  margin: 0;
  font-size: 20px;
  letter-spacing: 1.5px;
  span {
    font-size: 22px;
    font-weight: bold;
    color: $sub_color;
  }
  .site-cnt--point {
    font-size: 36px;
  }
}

.site-list {
  width: 80%;
  margin: 40px auto 0;
  padding: 0;
  list-style: none;
  li {
    overflow: hidden;
    position: relative;
    display: inline-block;
    width: 150px;
    height: 60px;
    margin-right: 5px;
    background-color: #e9efe9;
    &:last-child,
    &:nth-child(4n) {
      margin-right: 0;
    }
    img {
      position: absolute;
      display: inline-block;
      top: 50%;
      left: 0;
      right: 0;
      max-width: 90%;
      margin: auto;
      transform: translateY(-50%);
    }
  }
}


// footer ------------------->

.footer {
  height: 200px;
  margin-top: 100px;
  padding: 40px 0 0;
  background-color: #393E41;
  & * {
    color: #ffffff;
  }
}

.copyright {
  text-align: center;
}


// loading ------------------->

.loading-box {
  position: fixed;
  z-index: 100;
  top: 62px;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
}

.spinner {
  position: relative;
  top: 50%;
  width: 40px;
  height: 40px;
  margin: auto;
  transform: translateY(-50%);
}

.cube1, .cube2 {
  background-color: #fff247;
  width: 15px;
  height: 15px;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: sk-cubemove 1.8s infinite ease-in-out;
  animation: sk-cubemove 1.8s infinite ease-in-out;
}

.cube2 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

@-webkit-keyframes sk-cubemove {
  25% { -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5) }
  50% { -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg) }
  75% { -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5) }
  100% { -webkit-transform: rotate(-360deg) }
}

@keyframes sk-cubemove {
  25% {
    transform: translateX(42px) rotate(-90deg) scale(0.5);
    -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
  } 50% {
    transform: translateX(42px) translateY(42px) rotate(-179deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
  } 50.1% {
    transform: translateX(42px) translateY(42px) rotate(-180deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
  } 75% {
    transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
  } 100% {
    transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
  }
}


// popup -------------------->

// .popup {
// }

.popup-box {
  transition: all 300ms 0s ease;
  display: inline-block;
  position: fixed;
  z-index: 500;
  top: 62px;
  right: 0;
  left: 0;
  width: 300px;
  margin: auto;
  padding: 25px 40px;
  border: solid thin #d6d6d6;
  background-color: #ffffff;
  border-radius: 0 0 20px 20px;
  text-align: center;
}